.card{
    transform-style: preserve-3d;
    transform: perspective(1000px) scale3d(1, 1, 1);
    background-color: #0A0B10;
    width: 70vw;
    height: 60vh;
    display: flex;
}

.graphs{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.1;
}

.line-1{
    width: 45%;
    height: 80%;
    margin-top: -90px;
    margin-left: -60px;
    border: solid 20px gainsboro;
}

.circle-1{
    background-color: gainsboro;
    align-self: flex-end;
    width: 25vw;
    height: 25vw;
    margin-bottom: -120px;
    margin-right: -60px;
    border: solid 20px gainsboro;
    border-radius: 50%;
}

.li-shadow{
    transform: translateZ(50px);
    top: 4vh;
    left: 3vw;
    position: absolute;
    width: 22vw;
}

.me{
    margin-bottom: 10px;
    transform: translateZ(140px);
}

.me-img{
    object-position: 100% 0;
    width: 18vw;
    /*height: 21vw;*/
    object-fit: cover;
    filter: grayscale(100%) ;
}

.post-effect{
    left: 0;
    top: 0;
    position: absolute;
    width: 18vw;
    opacity: 0.2;
}

.card-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.card-content > .right-text{
    width: 60%;
    display: flex;
    transform: translateZ(140px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-content > .left-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    overflow: visible;
}

.right-text > .top-text{
    opacity: 0.5;
    font-size: 1vw;
}

.right-text > .middle-text{
    font-weight: bold;
    font-size: 1.9vw;
}

.right-text > .bottom-text{
    font-weight: lighter;
    opacity: 0.8;
    font-size: 0.7vw;
}


@media (max-width: 1224px) {
    .me-img{
        object-position: 80% 0;
    }
}

@media (max-width: 1024px) {


    .me-img, .li-shadow, .post-effect{
        display: none;
    }

    .card{
        width: 80vw;
    }

    .card-content{
        justify-content: center;
        flex-direction: column;
    }

    .card-content > .right-text{
        align-items: center;
        justify-content: center;
        width: 85%;
    }

    .right-text > .top-text{
        font-size: 2.0vw;
    }

    .right-text > .middle-text{
        font-size: 3.5vw;
    }

    .right-text > .bottom-text{
        font-size: 1.3vw;
    }
}

@media (max-width: 600px) {

    .card{
        height: 60vh;
    }

    .right-text > .top-text{
        font-size: 3.0vw;
    }

    .right-text > .middle-text{
        text-align: center;
        font-size: 5vw;
    }

    .right-text > .bottom-text{
        text-align: center;
        font-size: 2.2vw;
    }

    .card-content > .right-text{
        width: 100%;
    }
}