.technologie{
    margin: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technologie img{
    width: 80px;
}

.techno-text{

    text-align: center;
}

@media (max-width: 500px) {
    .technologie img{
        width: 50px;
    }

    .technologie{
        width: 70px;
        height: 70px;
        font-size: 0.7em;
    }
}